Repository Ashish-Bansal/audio-only-youtube: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write "**/*.ts", prettier --write "**/*.{json, css, scss, less, md}", imagemin-lint-staged

.lintstagedrc.json:

{
  "linters": {
    "*.ts": ["tslint --fix", "prettier --write \"**/*.ts\"", "git add"],
    "*.{json, css, scss, less, md}": [
      "prettier --write \"**/*.{json, css, scss, less, md}\"",
      "git add"
    ],
    "*.{png,jpeg,jpg,gif,svg}": ["imagemin-lint-staged", "git add"]
  },
  "ignore": ["\"dist/**/*.*\"", "\"node_modules/**/*.*\""]
}

Remove uglification for production build
  webpack/webpack.config.prod.js
Due: none

Fix: old video thumbnails displaying in 4:3 ratio
  src/js/content-script.ts
Due: tslint --fix, prettier --write "**/*.ts"

Add missing tsconfig.json to VCS
  tsconfig.json
Due: prettier --write "**/*.{json, css, scss, less, md}"

Change alert text to youtube-material-style
  src/css/content-script.css
Due: none

Add option to auto enable extension when changing tab
  src/css/options.css
  src/html/options.html
  src/js/background.ts
  src/js/options.ts
Due: tslint --fix, prettier --write "**/*.ts"

Propose to enable extension if video classified as "Music"
  src/css/options.css
  src/html/options.html
  src/js/background.ts
  src/js/content-popup-music.ts
  src/js/content-script.ts
  src/js/options.ts
  src/manifest.json
  webpack/config.js
Due: tslint --fix, prettier --write "**/*.ts", prettier --write "**/*.{json, css, scss, less, md}"

Propose to disable extension if video not classified as "Music"
  src/html/options.html
  src/js/background.ts
  src/js/content-popup-music.ts
  src/js/options.ts
Due: tslint --fix, prettier --write "**/*.ts"

Remove unused webRequestBlocking permission
  src/js/background.ts
  src/manifest.json
Due: tslint --fix, prettier --write "**/*.ts", prettier --write "**/*.{json, css, scss, less, md}"

Update packages and node version
  package.json
  yarn.lock
Due: prettier --write "**/*.{json, css, scss, less, md}"

Deprecate CRX packaging in favour of ZIP
  package.json
  src/manifest.json
  webpack/config.js
  webpack/crx-webpack-plugin.js
  webpack/fill-up-manifest.js
  webpack/webpack.config.dev.js
  webpack/webpack.config.prod.js
  yarn.lock
Due: prettier --write "**/*.{json, css, scss, less, md}"

Limit permissions to specific video hosts
  src/manifest.json
Due: prettier --write "**/*.{json, css, scss, less, md}"

Remove FAQ about all hosts access
  README.md
Due: none

Bump version to 0.8.2
  package.json
Due: prettier --write "**/*.{json, css, scss, less, md}"

Adding support for YouTube Music
  src/manifest.json
Due: prettier --write "**/*.{json, css, scss, less, md}"

Add support for YouTube Music
  src/manifest.json
Due: prettier --write "**/*.{json, css, scss, less, md}"

Add request blocking to prevent extra data traffic
  README.md
  package-lock.json
  src/js/background.ts
  src/manifest.json
Due: tslint --fix, prettier --write "**/*.ts", prettier --write "**/*.{json, css, scss, less, md}"

Remove additional parameter from the request and fix typo in README
  README.md
  src/js/background.ts
Due: tslint --fix, prettier --write "**/*.ts"

Remove additional parameter from the request and fix typo in README (#108)
  README.md
  src/js/background.ts
Due: tslint --fix, prettier --write "**/*.ts"

chore: update deps; chrome extension manifest
  package.json
  src/js/background.ts
  src/js/content-script.ts
  src/manifest.json
  webpack/webpack.config.dev.js
  webpack/webpack.config.prod.js
  yarn.lock
Due: tslint --fix, prettier --write "**/*.ts", prettier --write "**/*.{json, css, scss, less, md}"

chore: bump version to 0.10.0
  package.json
Due: prettier --write "**/*.{json, css, scss, less, md}"

remove "and refresh" instructions from video overlay
  src/js/content-script.ts
Due: tslint --fix, prettier --write "**/*.ts"

fix(youtube): implement signature decryption for audio URL generation
  package.json
  src/html/offscreen.html
  src/html/offscreen.js
  src/html/sandbox.html
  src/js/background.ts
  src/js/content-script.ts
  src/js/ytdl/cache.js
  src/js/ytdl/formats.js
  src/js/ytdl/index.js
  src/js/ytdl/info-extras.js
  src/js/ytdl/info.js
  src/js/ytdl/sandbox.js
  src/js/ytdl/sig.js
  src/js/ytdl/utils.js
  src/manifest.json
  webpack/webpack.config.dev.js
  webpack/webpack.config.prod.js
  yarn.lock
Due: tslint --fix, prettier --write "**/*.ts", prettier --write "**/*.{json, css, scss, less, md}"

remove "and refresh" instructions from video overlay (#111)
  src/js/content-script.ts
Due: tslint --fix, prettier --write "**/*.ts"

chore: update deps
  package.json
  src/js/ytdl/sandbox.js
  yarn.lock
Due: prettier --write "**/*.{json, css, scss, less, md}"

chore: update readme
  README.md
Due: none

ui(video-text): improve text visibility on light background
  contents/youtube.css
Due: none

chore: update how-to-use instructions
  README.md
Due: none

fix(build): production build issue
  package.json
Due: prettier --write "**/*.{json, css, scss, less, md}"

ux(video): preserve video playback current time
  contents/youtube.tsx
Due: none

chore(content-script): catch play promise exceptions caused by concurrency
  contents/youtube.tsx
Due: none

fix(startup): initialize offscreen document beforehand
  tabs/offscreen.tsx
  ytdl/sandbox.js
Due: none

Bump version to 0.13.0
  package.json
Due: prettier --write "**/*.{json, css, scss, less, md}"
