Repository Ashish-Bansal/audio-only-youtube: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write "**/*.ts", prettier --write "**/*.{json,scss, less, md}", imagemin-lint-staged

fix: errors in options.ts
  src/ts/options.ts
Due: tslint --fix, prettier --write "**/*.ts"

refactor: types & es
  src/html/options.html
  src/ts/background.ts
  src/ts/content-script.ts
  src/ts/options.ts
  tsconfig.json
Due: tslint --fix, prettier --write "**/*.ts", prettier --write "**/*.{json,scss, less, md}"

fix: add prettier
  package.json
Due: prettier --write "**/*.{json,scss, less, md}"

chore: upgrade deps
  package.json
Due: prettier --write "**/*.{json,scss, less, md}"

refactor: migrate to Parcel
  .gitignore
  .lintstagedrc.json
  manifest.js
  manifest.json
  package.json
  webpack/config.js
  webpack/webpack.config.dev.js
  webpack/webpack.config.prod.js
Due: prettier --write "**/*.{json,scss, less, md}"

fix: format
  src/css/content-script.css
  src/css/options.css
  src/html/options.html
Due: none

fix: js path
  manifest.json
Due: prettier --write "**/*.{json,scss, less, md}"

fix: context binding
  src/ts/background.ts
Due: tslint --fix, prettier --write "**/*.ts"

fix: context binding in background script
  src/ts/background.ts
Due: tslint --fix, prettier --write "**/*.ts"

fix: remove unnecessary listeners
  src/ts/background.ts
Due: tslint --fix, prettier --write "**/*.ts"

fix: logic for filtering audio URLs
  src/ts/background.ts
Due: tslint --fix, prettier --write "**/*.ts"

fix: icons modified by crlf tool
  src/img/icon128.png
Due: imagemin-lint-staged

fix: concurrently crash in case dist directory is not present
  manifest.js
Due: none

fix: errors on running build:prod
  manifest.js
  package.json
Due: prettier --write "**/*.{json,scss, less, md}"

fix: setting up audio URL on the player
  src/ts/content-script.ts
Due: tslint --fix, prettier --write "**/*.ts"

fix: paths not dir
  manifest.js
Due: none

chore: crx packing script
  .gitignore
  package.json
Due: prettier --write "**/*.{json,scss, less, md}"

fix: add setNoBackgroundImageStyle()
  src/ts/content-script.ts
Due: tslint --fix, prettier --write "**/*.ts"

fix: mkdir
  manifest.js
Due: none

feat(background): autoSaveBandwidth
  src/css/options.css
  src/html/options.html
  src/ts/background.ts
  src/ts/options.ts
Due: tslint --fix, prettier --write "**/*.ts"

style(content-script): ternaryOperators
  src/ts/content-script.ts
Due: tslint --fix, prettier --write "**/*.ts"

refactor(content-script): disable tooltip & right-controls
  src/ts/content-script.ts
Due: tslint --fix, prettier --write "**/*.ts"

fix(content-script): always show progress bar
  src/ts/content-script.ts
Due: tslint --fix, prettier --write "**/*.ts"

Update manifest.json
  src/manifest.json
Due: prettier --write "**/*.{json,scss, less, md}"

Added contribution steps
  README.md
Due: none

Add explanation for its working
  README.md
Due: none

Show higher quality image.
  src/js/content-script.js
Due: none

Automatically reload music.youtube.com
  src/js/background.js
Due: none

Fixed thumbnails
  src/js/content-script.js
Due: none

Add crx-webpack-plugin
  webpack/crx-webpack-plugin.js
Due: none

Remove outdated crx-webpack-plugin package
  package.json
  webpack/crx-webpack-plugin.js
  webpack/webpack.config.prod.js
  yarn.lock
Due: prettier --write "**/*.{json,scss, less, md}"

Disable extension on live videos
  src/js/background.js
  src/js/content-script.js
Due: none

Add Youtube live videos note in README
  README.md
Due: none

Update all project dependencies
  .babelrc
  package.json
  yarn.lock
Due: prettier --write "**/*.{json,scss, less, md}"

Add support for typescript
  .babelrc
  package.json
  webpack/config.js
  yarn.lock
Due: prettier --write "**/*.{json,scss, less, md}"

Replace javascript code with typescript
  src/js/background.ts
  src/js/content-script.ts
  src/js/options.ts
Due: tslint --fix, prettier --write "**/*.ts"

Fix original VideoElement style for live videos
  src/js/content-script.ts
Due: tslint --fix, prettier --write "**/*.ts"

Use higher quality thumbnail if present
  src/js/content-script.ts
Due: tslint --fix, prettier --write "**/*.ts"

Add FAQ and reason for all website access
  README.md
Due: none

Version bump to 0.8.0
  package.json
Due: prettier --write "**/*.{json,scss, less, md}"

Path conditions:
  tslint --fix: any of: *.ts
  prettier --write "**/*.ts": any of: *.ts
  prettier --write "**/*.{json,scss, less, md}": any of: *.{json, css, md}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
